<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	  <add key="DefaultConnectionString" value="Data Source=localhost;Initial Catalog=itcommunity;Persist Security Info=True;User ID=wchk;Password=1234;persist security info=False;Connection Timeout=30;" />
		<add key="DefaultNamespace"         value="" />
		<add key="DefaultClass"             value="Database" />
		<add key="ConfigsPath"              value="configs" />
	</appSettings>
</configuration>

