.browse-table {
    width: 100%;
}

.browse-table tr:hover td {
    background: #f6f6f6;
}

.browse-table .file-icon {
    width: 20px;
}

.browse-table .file-date {
    width: 20%;
}

.browse-table .file-desc {
    width: 30%;
}

.browse-table .file-edit-desc {
    width: 3%;
}
.browse-table tr .file-edit-desc a {
    display: none;
}
.browse-table tr:hover .file-edit-desc a {
    display: inline;
}

.browse-table .file-size {
    text-align: right;
    width: 12%;
}

