/* right-sidebar: begin */
#right-sidebar {
	width: 22%;
}
/* right-sidebar: end */


/* bbcode-info: begin */
#bbcode-info #tags-info-close {
	margin-top: -13px;
}
/* bbcode-info: end */


/* search: end */
#search .big-button {
	vertical-align: top;
}
/* search: end */