#content {
    float: left;
    padding: 16px 4%;
	width: 57%;
}

#content h1 {
    border-bottom: 4px solid #f0f0f0;
}

#content #cut {
    border: 1px solid #f0f0f0;
}

#content #comments {
    padding: 1em 0 0 0;
}

#content #add-comment {
    padding-top: 1em;
}

#content .comment {
    border-bottom: 1px solid #f0f0f0;
    padding: 1em 0;
}

#content select,
#content input[type=text],
#content input[type=password] {
    padding: 1px 0;
    width: 100%;
}


#content textarea.post-description {
    height: 10em;
}

#content textarea.post-text {
    height: 30em;
}

#sidebar {
    background: #f0f0f0;
    color: #999999;
    float: right;
    padding: 16px 4%;
    width: 27%;    
}
#sidebar .validation-summary-errors,
#sidebar h2 {
    padding: 24px 0 12px;
}
#sidebar .validation-summary-errors {
    color: #ff9999;
    font-size: 1.5em;
}
#sidebar ul {
    padding: 0 0 12px;
    line-height: 1.25em;
}
#sidebar ul .sidebar-link {
    color: #999999;
}
#sidebar ul .sidebar-link:hover {
    color: #333333;
}
#sidebar li {
    padding: 4px 0;
}
#sidebar .more-link {
    font-size: 0.5em;
    vertical-align: top;
}


.menu .left,
.menu .right {
    line-height: 2em;
}

.left {
    clear: left;
    float: left;
    text-align: left;
}
.left li {
    display: inline;
    margin-right: 12px;
}
.right {
    clear: right;
    float: right;
    text-align: right;
}
.right li {
    display: inline;
    margin-left: 12px;
}

.post {
	padding: 1em 0 1em;
	border-bottom: 2px solid #f0f0f0;
	margin-bottom: 1em;
}
.post .post-description {
	line-height: 1.5em;
	padding-bottom: 1em;
}
.post-meta {
	color: #999999;
	font-size: 0.75em;
}
.post .post-meta ul {
	padding-top: 4px;
}

.meta {
	font-size: 0.75em;
}
.meta .meta-item {
	margin-left: 8px;
}

.comments-count {
    color: #666666;
}

.pagination {
    font-size: 1.5em;
    padding: 2em 0;
}
.pagination li {
    display: inline;
    margin-right: 1em;
}

.date,
.views-count {
	color: #666666;
}

.rating-negative {
	color: #c03030;
}
.rating-positive {
	color: #008000;
}

.content-menu {
	font-size: 0.875em;
	line-height: 32px;
}
.content-menu li {
	display: inline;
	margin-right: 24px;
}

.main-link {
	font-size: 1.375em;
}


.category-link {
    color: #2b91af;
}
.category-link:hover {
	color: #006f83;
}
.user-link {
	color: #30a030;
	font-style: italic;
}
.user-link:hover {
	color: #006000;
}

.page-link {
    border-bottom: 1px dotted;
    text-decoration: none;
}
.page-link:hover {
    border-bottom: none;
}

.clear {
    clear: both;
    content: "";
    display: block;
}

.hidden {
    display: none;
}