<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=itcommunity;Persist Security Info=True;User ID=wchk;Password=1234;persist security info=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="wchk-windesktop"  connectionString="Data Source=WCHK-WINDESKTOP\SQLEXPRESS;Initial Catalog=itcommunity;Persist Security Info=True;User ID=wchk;Password=1234;persist security info=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="bald-pc"          connectionString="Data Source=192.168.0.2;Initial Catalog=itc2;Persist Security Info=False;User ID=it;Password=123;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="baldpc"           connectionString="server=localhost;Database=itc;Password=qqqqqqqq;User ID=dblog1" providerName="System.Data.SqlClient"/>
    <add name="Petch-PC"         connectionString="Data Source=PETCH-PC;Initial Catalog=itcommunity;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Petr-PC"          connectionString="Data Source=PETR-PC\SQLEXPRESS;Initial Catalog=itcommunity;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Petch-Mobile"     connectionString="Data Source=PETCH-MOBILE;Initial Catalog=itcommunity;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Tesla-PC"         connectionString="Data Source=TESLA-PC;Initial Catalog=itcommunity;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="*" verb="*" type="System.Web.HttpNotFoundHandler"/>
    </httpHandlers>

    <!--
        Enabling request validation in view pages would cause validation to occur
        after the input has already been processed by the controller. By default
        MVC performs request validation before a controller processes the input.
        To change this behavior apply the ValidateInputAttribute to a
        controller or action.
    -->
    <pages
        validateRequest="false"
        pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <controls>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
