<?xml version="1.0"?>

<appSettings>
        
    <!-- Файл где храняться приветствия для пользователя -->
    <add key="GreetingPath" value="\content\other\greetings.txt"/>
    <add key="GreetingCachePer" value="60" />

    <!-- Файл где храняться персональные приветствия для пользователя -->
    <add key="PersonalGreetingPath" value="\content\other\greetings_personal.txt"/>
    <add key="PersonalGreetingCachePer" value="60" />


    <!-- Время показа текста хидера, в часах -->
    <add key="HeaderShowingHours" value="72" />
    <add key="HeaderMaxLength" value="50" />
    <add key="HeaderRequiredPostsCount" value="3" />
    <add key="HeaderDefaultFormat" value="Как дела, {0}!" />
    <add key="ActualHeadersCachePer" value="30" />


    <add key="RecoveriesPurgeTimerMinutes" value="30" />
    <add key="RecoveryPurgeDays" value="3" />


    <add key="PopularPostsCount" value="10" />
    <add key="PopularPostsDays" value="30" />
    <add key="PopularPostsTimeText" value="за 30 дней" />
    <add key="PopularPostsCachePer" value="5" />

    <add key="DiscussiblePostsCount" value="10" />
    <add key="DiscussiblePostsDays" value="30" />
    <add key="DiscussiblePostsTimeText" value="за 30 дней" />
    <add key="DiscussiblePostsCachePer" value="5" />

    <add key="RatedPostsCount" value="10" />
    <add key="RatedPostsDays" value="30" />
    <add key="RatedPostsTimeText" value="за 30 дней" />
    <add key="RatedPostsCachePer" value="5" />

    <add key="LastCommentsCount" value="10" />
    <add key="LastCommentsSize" value="35" />
    <add key="LastCommentsCachePer" value="5" />

    <add key="LastRegisteredUsersCount" value="10" />
    <add key="LastRegisteredUsersCachePer" value="60" />

    <add key="ActivePostersCount" value="10" />
    <add key="ActivePostersDays" value="30" />
    <add key="ActivePostersTimeText" value="за 30 дней" />
    <add key="ActivePostersCachePer" value="30" />

    <add key="TopPostersCount" value="10" />
    <add key="TopPostersCachePer" value="60" />

    <add key="ActiveCommentatorsCount" value="10" />
    <add key="ActiveCommentatorsDays" value="30" />
    <add key="ActiveCommentatorsTimeText" value="за 30 дней" />
    <add key="ActiveCommentatorsCachePer" value="30" />

    <add key="TopCommentatorsCount" value="10" />
    <add key="TopCommentatorsCachePer" value="60" />

    <!--Кол-во постов в RSS фиде-->
    <add key="RssPostsCount" value="15"/>

    <add key="PostsPerPage" value="10" />
    <add key="HeadersPerPage" value="15" />
    <add key="MessagesPerPage" value="20" />
    <add key="UsersPerPage" value="30" />
    <add key="UserCommentsPerPage" value="20" />
    <add key="CaptchasPerPage" value="15" />


    <add key="DefaultCachePer" value="30" />
    <add key="MenuItemsCachePer" value="60" />
    <add key="CaptchasCachePer" value="60" />
    <add key="CategoriesCachePer" value="60" />


    <add key="CommentEditableMinutes" value="10" />


    <add key="PostRatingValue" value="1" />
    <add key="PostRatingRegistrationPassedDays" value="7" />
    

    <!--Папка где лежат файлы для просмотра, не забудьте права для юзера asp_net на чтение -->
    <add key="BrowserBasePath" value="C:\Temp\downloads" />
    <!-- имя BrowsePath при доступе через интернет, абсолютная ссылка -->
    <add key="BrowserBaseUrl" value="http://localhost:56910/downloads"/>
    <add key="BrowserDefaultDirectory" value="files"/>


    <!-- Список доверенных сайтов через запятую, картинкам оттуда доверяем -->
    <add key="TrustdedSites" value="localhost, it.icmp.ru, it2.icmp.ru, fotki.ykt.ru, ykt.ru"/>

    
    <!-- Параметры опроса -->
    <add key="PollCategoryId" value="22"/>

</appSettings>
