<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="ITCommunity.MasterPage"  %>

<%@ Register Assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Namespace="System.Web.UI" TagPrefix="asp" %>

<%@ Register Src="~/controls/LeftSidebar.ascx"   TagName="LeftSidebar"  TagPrefix="uc" %>
<%@ Register Src="~/controls/RightSidebar.ascx"  TagName="RightSidebar" TagPrefix="uc" %>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

	<head runat="server">
		<title>Ykt IT Community</title>
		<meta http-equiv="content-language" content="ru" />
		<meta http-equiv="content-type"     content="text/html; charset=utf-8" />

		<meta name="keywords"    content="программирование, администратор, айти, якутск, саха, якутия, скачать, сеть, компьютеры, ит, виндовс, линух, репозиторий, programming, it, web, yakutsk, sakha, windows, linux, freebsd, говнокод, программист, java, c sharp" />
		<meta name="description" content="Ykt IT Community - сообщество IT-специалистов Якутска" />
		<meta name="author"      content="Ykt IT Community" />
		<meta name="language"    content="ru" />
		<meta name="doc-type"    content="web page" />

		<meta http-equiv="pragma"        content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires"       content="now" />

		<link rel="shortcut icon" href="favicon.ico"                  type="image/vnd.microsoft.icon" />
		<link rel="alternate"     href="rss.aspx"                     type="application/rss+xml" charset="utf-8"  title="Ykt IT Community - http://it.icmp.ru" />    

		<link rel="stylesheet"    href="media/css/default.css"         type="text/css"            charset="utf-8" />
		<link rel="stylesheet"    href="media/css/style.css?5"         type="text/css"            charset="utf-8" />
		<!--[if IE 6]><link rel="stylesheet" href="media/css/ie6-fix.css" type="text/css" charset="utf-8" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" href="media/css/ie7-fix.css" type="text/css" charset="utf-8" /><![endif]-->
		<link rel="stylesheet"    href="media/css/highlight-vs.css"   type="text/css"            charset="utf-8" />

		<script src="media/js/highlight.pack.js"                     type="text/javascript"     charset="utf-8"></script>
		<script src="media/js/clientcide.2.2.0.compressed.js"        type="text/javascript"     charset="utf-8"></script>
		<script src="media/js/popup.js"                              type="text/javascript"     charset="utf-8"></script>
		<script type="text/javascript">
			hljs.initHighlightingOnLoad();
		</script>

	</head>

	<body>
		<form id="MainForm" runat="server">

			<asp:ScriptManager ID="RatingScriptManager" runat="server" />

			<div id="header">
				<noscript>
					<div id="noscript-message">Внимание! У вашего браузера отключен javascript, корректная работа сайта не гарантируется.<a href="http://adsense.google.com/support/bin/answer.py?hl=ru&amp;answer=12654" target="_blank">Узнать как включить >>></a></div>
				</noscript>
				<a href="default.aspx" class="main-link">
					<span class="code-class">IT</span> Community →
					
					<span class="code-comment">
						<asp:Literal ID="HeaderTextLiteral" runat="server" />
					</span>
				</a>
			</div>

			<uc:LeftSidebar id="LeftSidebar" runat="server" />

			<div id="dynamic-content">
				<div class="content">
					<asp:contentplaceholder id="ContentPlaceHolder1" runat="server" />
				</div>
			</div>

			<uc:RightSidebar id="RightSidebar" runat="server" />

			<div id="footer">
				<asp:Literal ID="YaknetCounter" runat="server" />
				<!--<a href="http://www.vyakutske.ru/rating/" title="Рейтинг сайтов Якутска" target="_blank" class="counter"><img src="http://www.vyakutske.ru/rating/button.php?u=itcommunity" alt="Рейтинг сайтов Якутска" border="0" /></a>-->
				<h2>
					IT Community &copy; 2005 - <asp:Literal ID="ThisYear" runat="server" />
				</h2>
				Данный ресурс поддерживается сообществом АЙТИ коммунистов г.Якутска. Проект некоммерческий.
			</div>
		</form>
	</body>
</html>
