<?xml version="1.0"?>

<configuration>

    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>

    <log4net>
        <root>
            <level value="DEBUG"/>
            <appender-ref ref="MainLog"/>
        </root>
        <appender name="MainLog" type="log4net.Appender.RollingFileAppender">
            <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
            <file value="C:\itcommunity-log\mvc\"/>
            <appendToFile value="true"/>
            <datePattern value="yyyy-MM-dd.'log'"/>
            <rollingStyle value="Date"/>
            <staticLogFileName value="false"/>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%-5p [%d] [%C.%M] %m%n"/>
            </layout>
        </appender>
    </log4net>

    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=itc-mvc;Persist Security Info=True;User ID=itc;Password=1234;persist security info=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
        <add name="Petch-Mobile" connectionString="Data Source=PETCH-MOBILE\SQLEXPRESS;Initial Catalog=itc-mvc;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="PC7" connectionString="Data Source=PC7\SQLEXPRESS;Initial Catalog=itc-mvc;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <appSettings file="App.config"/>

    <system.net>
        <mailSettings>
            <smtp from="ykt.itcommunity@gmail.com" deliveryMethod="Network">
                <network host="smtp.gmail.com" port="587" userName="ykt.itcommunity@gmail.com" password="podyouthofthenation"/>
            </smtp>
        </mailSettings>
    </system.net>

    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            </assemblies>
        </compilation>

        <httpRuntime requestValidationMode="2.0"/>
        <pages validateRequest="false"/>
        
        <authentication mode="Forms">
            <forms name="auth" loginUrl="~/user/login" timeout="20" defaultUrl="~/"/>
        </authentication>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

</configuration>
