<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
	</configSections>
	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="MainLog" />
		</root>
		<appender name="MainLog" type="log4net.Appender.RollingFileAppender">
			<lockingmodel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="C:\itcommunity-log\app\" />
			<appendToFile value="true" />
			<datePattern value="yyyy-MM-dd.'log'" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%-5p [%d] [%C.%M] %m%n" />
			</layout>
		</appender>
	</log4net>
	<system.net>
		<mailSettings>
			<smtp from="ykt.itcommunity@gmail.com" deliveryMethod="Network">
				<network host="smtp.gmail.com" port="587" userName="ykt.itcommunity@gmail.com" password="podyouthofthenation" />
			</smtp>
		</mailSettings>
	</system.net>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=itcommunity;Persist Security Info=True;User ID=wchk;Password=1234;persist security info=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="bald-pc" connectionString="Data Source=192.168.0.2;Initial Catalog=itc2;Persist Security Info=False;User ID=it;Password=123;Connection Timeout=30;" providerName="System.Data.SqlClient" />
		<add name="baldpc" connectionString="server=localhost;Database=itc;Password=qqqqqqqq;User ID=dblog1" providerName="System.Data.SqlClient" />
		<add name="Petch-PC" connectionString="Data Source=PETCH-PC;Initial Catalog=itcommunity;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="Petr-PC" connectionString="Data Source=PETR-PC\SQLEXPRESS;Initial Catalog=itcommunity;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="Petch-Mobile" connectionString="Data Source=PETCH-MOBILE;Initial Catalog=itcommunity;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="Tesla-PC" connectionString="Data Source=TESLA-PC;Initial Catalog=itcommunity;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU" />
		<compilation debug="true">
		</compilation>
		<authentication mode="Forms">
			<forms name="dfjaw78" loginUrl="accessdeny.aspx" protection="All" timeout="20" path="/" defaultUrl="default.aspx" />
		</authentication>
		<customErrors mode="Off" defaultRedirect="error.html">
			<error statusCode="401" redirect="accessdeny.aspx" />
			<error statusCode="404" redirect="notfound.aspx" />
		</customErrors>
		<httpHandlers>
			<add verb="*" path="ofc_handler.aspx" type="OpenFlashChart.WebHandler.ofcHandler, OpenFlashChart" />
		</httpHandlers>
		<pages validateRequest="false" />
	</system.web>
	<appSettings>
		<!--Макс. кол-во заметок на странице блокнота-->
		<add key="MaxNotesCount" value="15" />
		<!--Макс. кол-во сообщений на 1 странице при просмотре почты-->
		<add key="MaxMessageCount" value="15" />
		<!--Максимальный обьем загружаемой картинки, в байтах-->
		<add key="PostImgSize" value="2048000" />
		<!--Максимальный размер картинки(высота и ширина), в pixels-->
		<add key="PostImgWidth" value="5000" />
		<add key="PostImgHeight" value="5000" />
		<!--Название папки в которой хранятся изображения(../FolderName)-->
		<add key="PostImagesFolder" value="postimages" />
		<!-- Максимальная ширина тамбнейла в пикселях-->
		<add key="MaxThumbWidth" value="500" />
		<!--Кол-во постов на одной странице(к этому значению добавляется кол-во прикрепленных постов)-->
		<add key="PostsCount" value="15" />
		<!--Кол-во постов в RSS фиде-->
		<add key="RssPostsCount" value="15" />
		<!--Кол-во избранных постов на одной странице-->
		<add key="FavoritesCount" value="15" />
		<!--Кол-во опросов на странице-->
		<add key="PollsCount" value="15" />
		<!--Кол-во последних комментариев в статистике(в мастерпейдже)-->
		<add key="LastCommentsCount" value="10" />
		<!--Кол-во популярных постов -->
		<add key="PopularPostsCount" value="10" />
		<!--Период за который выбираются популярные посты, в днях-->
		<add key="PopularPostsPeriod" value="365" />
		<!--Кол-во самых активных авторов-->
		<add key="TopPostersCount" value="10" />
		<!--Кол-во последних зарегистрированных-->
		<add key="LastRegisteredCount" value="10" />
		<!--Папка где лежат файлы для просмотра, не забудьте права для юзера asp_net на чтение-->
		<add key="FilesFolder" value="C:\projects\" />
		<!--<add key="FilesFolder" value="C:\Projects\Other\itcommunity\trunk\src\files\" />-->
		<!-- имя FilesFolder при доступе через интернет, относительно корня сайта -->
		<add key="FilesLink" value="files" />
		<!--Папка где лежат файлы rfc(относительно корня), формат названия файлов rfc****.txt-->
		<add key="RfcFolder" value="rfc" />
		<!-- Время показа текста хидера, в часах -->
		<add key="HeaderTextShowingHours" value="72" />
		<!-- Максимальния длина текста для хидера -->
		<add key="HeaderTextMaxLength" value="50" />
		<!-- Сколько постов нужно сделать для написания текста в хидере -->
		<add key="HeaderTextPostsCount" value="3" />
		<!-- Кол-во текстов для хидера на одной странице -->
		<add key="HeaderTextCount" value="15" />
		<!-- Адрес rss, откуда брать активность redmine проекта-->
		<add key="RedmineActivityRssUrl" value="http://it.icmp.ru:3000/projects/activity/itc?format=atom&amp;key=LtCRRmLjUaY2XVRyiJnCNEgxz4PItswjXtcYxtVD&amp;show_changesets=1&amp;show_issues=1&amp;show_wiki_edits=1" />
		<!-- Сколько смотреть данных с RSS -->
		<add key="RedmineActivityRssHowView" value="13" />
		<!-- За сколько дней учитывать последних активных постеров -->
		<add key="LastTopUsersDays" value="30" />

		<!-- КЕШИРОВАНИЕ -->

		<!-- Ниже названия(ключи) для получения из кеша соответствующих данных(должны быть уникальны)-->
		<add key="CategoriesCacheName"			value="categories" />
		<add key="LastCommentsCacheName"		value="last_comments" />
		<add key="MenuCacheName"						value="menu" />
		<add key="LastPostsCacheName"				value="last_posts" />
		<add key="TopPostsCacheName"				value="top_posts" />
		<add key="LastUsersCacheName"				value="last_users" />
		<add key="TopPostersCacheName"			value="top_users" />
		<add key="UsersStatCacheName"				value="users_stat" />
		<add key="UsersListCacheName"				value="users_list" />
		<add key="RedmineActivityCacheName"	value="redmine_activity" />
		<add key="HeaderTextCacheName"			value="current_header_text" />
		<add key="LastTopPostersCacheName"	value="last_top_users" />


		<!-- Время жизни кеша активных постеров после 1-й загрузки, в часах-->
		<add key="TopPostersCachePer" value="1" />
		<!-- Время жизни кеша активных постеров за последние N дней после 1-й загрузки, в часах-->
		<add key="LastTopPostersCachePer" value="1" />
		<!-- Время жизни кеша категорий после 1-й загрузки, в часах-->
		<add key="CategoriesCachePer" value="24" />
		<!-- Время жизни кеша последних комментов после 1-й загрузки, в часах-->
		<add key="CacheLastCommentPer" value="1" />
		<!-- Время жизни кеша меню после 1-й загрузки, в часах-->
		<add key="MenuCachePer" value="24" />
		<!-- Время жизни кеша последних постов после 1-й загрузки, в часах-->
		<add key="LastPostsCachePer" value="1" />
		<!-- Время жизни кеша популярных постов после 1-й загрузки, в часах-->
		<add key="TopPostsCachePer" value="1" />
		<!-- Время жизни кеша последних зареганных пользователей после 1-й загрузки, в часах-->
		<add key="LastUsersCachePer" value="1" />
		<!-- Время жизни кеша активных постеров после 1-й загрузки, в часах-->
		<add key="UsersStatCachePer" value="1" />
		<!-- Время жизни кеша списка пользователей, в часах-->
		<add key="UsersListCachePer" value="2" />
		<!-- Время жизни кеша активности Redmine, в минутах -->
		<add key="RedmineActivityCachePer" value="10" />
		<!-- Время жизни кеша текстов для хидера после 1-й загрузки, в часах -->
		<add key="HeaderTextCachePer" value="1" />

	</appSettings>

	<!-- Доступ к страницам по ролям. Возможные роли: admin, user, poster, banned -->
	<!-- Добавляйте в алфавитном порядке -->
	<location path="accessdeny.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="accounts.aspx">
		<system.web>
			<authorization>
				<allow roles="admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="addheadertext.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="addpoll.aspx">
		<system.web>
			<authorization>
				<allow roles="admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="browse.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="controls">
		<system.web>
			<authorization>
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="deploy.aspx">
		<system.web>
			<authorization>
				<allow users="admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="default.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="editpost.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="error.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="favorites.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="headertexts.aspx">
		<system.web>
			<authorization>
				<allow roles="admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="itcaptchaedit.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="itcaptchalist.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="mail.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="mailsend.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="mailview.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="media">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="news.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="nodepad.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="nodepadadd.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="notfound.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="poll.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="pollresult.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="profile.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user, banned" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="recovery.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="register.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<deny users="admin, user, poster, banned" />
			</authorization>
		</system.web>
	</location>
	<location path="rfc.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="rss.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="search.aspx">
		<system.web>
			<authorization>
				<allow roles="admin, poster, user" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="structure.aspx">
		<system.web>
			<authorization>
				<allow roles="admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
<!--
Структура директорий для картинок в постах

postimages
	userid
		postid
			thumb
			full
-->
