/* left-sidebar: begin */
#left-sidebar .content {
	margin: 0 auto;
	padding: 0;
	width: 80%;
}
/* left-sidebar: end */

/* dynamic-content: begin */
#dynamic-content {
	width: 61%;
}
#dynamic-content .content {
	margin: 0 auto;
	padding: 35px 0 0 0;
	width: 94%;
}
/* dynamic-content: end */


/* right-sidebar: begin */
#right-sidebar .content {
	margin: 0 auto;
	padding: 0;
	width: 90%;
}
/* right-sidebar: end */


/* bbcode-info: begin */
#bbcode-info #tags-info-close {
	margin-top: -13px;
}
/* bbcode-info: end */


/* search: end */
#search .big-button {
	vertical-align: top;
}
/* search: end */
