body
{
	font: 90% Verdana, Arial, Helvetica, sans-serif;
    color: #373737;
    background-color: #f5f5f5;     
}
a
{
	color: #3366cc;
}
a:hover
{
    color: blue;
}
p
{
	margin:0 10px 10px;
}

div#header
{
	background-image: url(../../media/img/top_image.jpg);
}
div#navigate
{
	float:left;
	width:14%;
	margin-left:-97%;
}
div#dynamic-content
{
	margin: 0 17%;
	width:57%;
}

div#stats
{
	float:left;
	width:25%;
	margin-left:-25%;
}
div#footer
{
	padding:50px 0 0 0;
	clear:left;
	width:100%;
	text-align:center;
}

div#wrapper
{
	float:left;
	width:100%;
}

h1 {
	margin: 20px 0 15px 0;
	font-size: 1.4em;
	font-weight: 500;
}
h2 {
	font-size: 1.3em;
	padding: 15px 0 10px 0;
	font-weight: 500;
}
h3 {
	font-size: 1.2em;
	margin: 10px 0 5px 0;
	font-weight: 500;
}
div#dynamic-content p {
	margin-bottom: 0.7em;
	line-height: 1.6em;
	text-indent: 2em;
}
label {
	display: block;
}
div#dynamic-content .input-text {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 5px;
}
div#dynamic-content .post-desc 
{
	margin: 10px 0 0 20px;
}
div#dynamic-content .post-text
{
	margin: 10px 0 0 20px;
}

div#dynamic-content .post-read-link
{
	margin: 20px 70px 20px 20px;
	text-align:right;
}
div#dynamic-content .post-info
{
	background: #f3f3f3; 
	border: 1px dotted gray;
	padding: 5px;
	margin:10px;
	line-height: 1.3em;
	width:90%;
}
div#dynamic-content #write-comment
{
	margin-top:10px;
	text-align:right;
}
div#dynamic-content #comments
{
	margin: 20px;
}

.error-message 
{
	color:Red;
}
.list
{
	list-style-type:none;
}

.pager li{
	border:0;
	margin:0;
	padding:0;
	float:left;
	font-size:11px;
	list-style:none;
}
.pager a{
	display:block;
	border:solid 1px #ddd;
	margin-right:2px;
}
.pager a:link,
.pager a:visited {
	color:#0063e3;
	padding:3px 6px;
	text-decoration:none;
}
.pager a:hover{
	border:solid 1px #666;
}
.pager .previous-off,
.pager .next-off {
	color:#666666;
	font-weight:bold;
	padding:3px 4px;
}
.pager .next a,
.pager .previous a {
	font-weight:bold;
	border:solid 1px #fff;
}
.pager .active{
	color:#ff0084;
	font-weight:bold;
	padding:4px 6px;
}
