/* tags: begin */
body {
	background: #ffffff;
	color: #222222;
	font: 0.8em Verdana, sans-serif;
}
a {
	color: #3366cc;
	padding: 0 2px;
	text-decoration: none;
}
a:hover {
	background: #4477ff;
	color: #ffffff;
	text-decoration: none;
}
p {
	margin: 0 10px 10px;
}
h1,
h2,
h3 {
	font-weight: normal;
	color: #767676;
}
h1 {
	font-size: 1.8em;
	margin: 16px 0 8px 0;
}
h2 {
	font-size: 1.5em;
	margin: 10px 0 7px 0;
}
h3 {
	font-size: 1.2em;
	margin: 6px 0 3px 0;
}
hr {
	background: #bbbbbb;
	border: none;
	height: 1px;
	margin: 0;
	clear: both;
}
/* tags: end */

/* header: begin */
#header {
	font-family: Monospace, Lucida Console;
	text-align: center;
	border-bottom: 1px solid #afafaf;
}
#header .main-link {
	color: #000000;
	display: block;
	font-size: 3.5em;	
	font-weight: bold;
	padding: 20px 0;
}
#header .main-link:hover {
	background: #ffffff;
	color: #000000;
}
#header .code-class {
	color: #4477ff;
}
#header .code-comment {
	color: #209020;
}
/* header: end */

/* left-sidebar: begin */
#left-sidebar {
	float: left;
	width: 15%;
}
#left-sidebar .content {
	padding: 0 10%;
}
/* left-sidebar: end */

/* dynamic-content: begin */
#dynamic-content {
	float: left;
	width: 62%;
}
#dynamic-content .content {
	padding: 20px;
}
/* dynamic-content: end */

/* right-sidebar: begin */
#right-sidebar {
	float: right;
	width: 23%;
}
#right-sidebar .content {
	padding: 0 8%;
}
/* right-sidebar: end */

/* footer: begin */
#footer {
	clear: both;
	padding: 30px 0 20px 0;
	text-align: right;
	width: 100%;
}
#footer h2 {
	border-top: 1px solid #afafaf;
	padding-top: 10px;
}
/* footer: end */

/* panels: begin */
.menu-panel {
	padding: 2px 0;
}

.message {
	color: #33aa55;
	background: #dfffdf;
	border: 1px solid #afffaf;
	padding: 2px 5px;
	margin: 5px 0;
}

.error {
	color: #ff3344;
	background: #ffdfdf;
	border: 1px solid #ffa0a0;
	padding: 2px 5px;
	margin: 5px 0;
}
.error h1,
.error h2,
.error h3 {
	color: #ff3344;
}

.note {
	background: #f7f7f7;
	border: 1px solid #aaaaaa;
	color: #666666;
	font-size: 0.85em;
	padding: 2px 5px;
	text-align: justify;
	margin: 5px 0;
}
.note a {
	color: #6688ff;
}
.note a:hover {
	background: #77aaff;
	color: #ffffff;
}

.panel {
	padding-top: 10px;
}

.info-panel {
	border: 1px dotted #afafaf;
	clear: both;
	padding: 5px 10px 7px;
	margin: 10px 0;
}
/* panels: end */

/* links: begin */
.user-pm-link {
	color: #33aa55;
	font-style: italic;
}
.user-pm-link:hover {
	background: #33aa55;
}

.category-link:hover {
	background: #4499cc;
}
/* links: begin */

/* login-menu: begin */
#login-menu .checkbox-label,
#login-menu .textbox-label {
	display: block;
	padding: 3px 0;
}
#login-menu .textbox-label input {
	display: block;
}
#login-menu a:hover {
	background: #7777ff;
}
/* login-menu: end */

/* user-menu: begin */
#user-menu .menu-text {
	padding: 0 2px;
}
#user-menu li a:hover {
	background: #33aa55;
}
/* user-menu: end */

/* admin-menu: begin */
#admin-menu li a:hover {
	background: #ff1111;
}
/* admin-menu: end */

/* links-menu: begin */
#links-menu li a:hover {
	background: #ff5566;
}
/* links-menu: end */

/* poll-menu: begin */
#poll-menu input {
	width: 30px;
	padding: 3px 0;
}
#poll-menu .vote-link-panel {
	text-align: center;
}
#poll-menu .vote-link-panel a {
	font-size: 1.6em;
}
/* poll-menu: end */

/* post: begin */
.post {
	padding-bottom: 25px;
}
.post .post-desc,
.post .post-text {
	padding: 10px 15px;
	font: 1.1em/1.6em Verdana, sans-serif;
}
.post .post-info {
	border: 1px dotted #afafaf;
	clear: both;
	padding: 5px 10px 7px;
	margin: 10px 0;
}
.post .add-to-favorites-link:hover,
.post .delete-from-favorites-link:hover,
.post .bbcode-link:hover,
.post .post-desc a:hover,
.post .post-text a:hover {
	background: none;
}
.post .bbcode-link:hover,
.post .post-desc a:hover,
.post .post-text a:hover {
	color: #0022aa;
}
.post .align-left {
	margin: 0 20px 25px 0;
}
.post .align-right {
	margin: 0 0 25px 20px;
}
/* post: end */

/* comments-panel: begin */
#comments-panel li {
	padding-bottom: 15px;
}
#comments-panel .comment-info {
	border: 1px dotted #afafaf;
	clear: both;
	padding: 5px 10px 7px;
}
#comments-panel .comment-text {
	padding: 5px 15px 0;
	font: 1em/1.4em Verdana, sans-serif;
}
#comments-panel .odd .comment-info {
	background: #fffad0;
}
#comments-panel .even .comment-info {
	background: #f6f6f6;
}
/* comments-panel: end */

/* bbcode-info:begin */
#bbcode-info {
}
#bbcode-info:after {
	content: "";
	display: block;
	clear: both;
}
#bbcode-info #tags-info-close {
	float: right;
	margin-top: -19px;
}
#bbcode-info .left-block,
#bbcode-info .right-block {
	float: left;
}
#bbcode-info .left-block {
	width: 40%;
}
#bbcode-info .right-block {
	width: 60%;
}
#bbcode-info dt {
	font-weight: bold;
	padding: 0 10px 5px;
}
#bbcode-info dd {
	padding: 0 20px;
	margin-bottom: 10px;
}
/* bbcode-info:end */

/* pager: begin */
#pager {
	position: fixed;
	bottom: 3.5em;
	z-index: 254;
	text-align: right;
}
#pager li {
	float: left;
	font-size: 0.9em;
}
#pager a,
#pager .active,
#pager a:visited {
	display: block;
	border: solid 1px #ffffff;
	margin-right: 2px;
	padding: 3px 6px;
	text-decoration: none;
}
#pager .active,
#pager a:visited {
	color: #0063e3;
}
#pager .active {
	background: #0063e3;
	color: #ffffff;
	font-weight: bold;
}
#pager a:hover {
	background: #0063e3;
	color: #ffffff;
}
#pager .previous-off,
#pager .next-off {
	color: #666666;
	font-weight: bold;
	padding: 3px 6px;
	border: solid 1px #ffffff;
}
#pager .previous-off:hover,
#pager .next-off:hover {
	background: #ffffff;
}
#pager .next a,
#pager .previous a {
	font-weight: bold;
	border: solid 1px #ffffff;
}
/* pager: end */

/* form-elements: begin */
.dropdown-list-select,
.textbox-input,
.file-upload-input,
.textbox-textarea {
	display: block;
	margin: 15px 0;
}
.dropdown-list-select select,
.textbox-input input,
.file-upload-input input,
.textbox-textarea textarea {
	color: #444444;
	font-family: Verdana, sans-serif;
	font-size: 2.2em;
	width: 100%;
}
.textbox-textarea textarea {
	padding: 1%;
	width: 98%;
}

.big-button {
	padding-top: 10px;
	text-align: center;
}
.big-button a {
	background: #4466ff;
	color: #ffffff;
	font-size: 2.2em;
	padding: 2px 5px 4px;
	margin: 0 10px;
}
.big-button a:hover {
	background: #ff4455;
}
/* form-elements: end */

/* edit-post: begin */
#edit-post .textbox-textarea textarea {
	font-size: 1em;
}
#edit-post .file-upload-input input {
	width: 70%;
}
#edit-post .file-upload-input a {
	font-size: 2.2em;
}
/* edit-post: end */

/* tabs: begin */
.tabs {
	width: 100%;
}
.tabs .tabSet {
	margin: 0;
	padding: 0 0 0 6px;
	height: 26px;
	width: auto;
	background: url(../../media/img/design/tab/tab-bkg.gif) bottom left repeat-x;
}
.tabs .tabSet li:before {
	content: "" !important;
}
.tabs .tabSet li {
	list-style-type: none;
	background: url(../../media/img/design/tab/tab-off-l.gif) top left no-repeat !important;
	float: left !important;
	margin: 0 2px 0 0 !important;
	padding: 0 0 0 14px !important;
	cursor: pointer;
}	
.tabs .tabSet li a {
	background: url(../../media/img/design/tab/tab-off-r.gif) top right no-repeat !important;
	display: block !important;
	float: left !important;
	height: 24px !important;
	line-height: 26px !important;
	overflow: hidden !important;
	color: #545454 !important;
	font-family: arial !important;
	font-size: 10pt !important;
	font-weight: bold !important;
	padding: 2px 12px 0 0 !important;
	text-decoration: none !important;
}
.tabs .tabSet li.on {
	background: url(../../media/img/design/tab/tab-on-l.gif) top left no-repeat !important;
}
.tabs .tabSet li.on a {
	background: url(../../media/img/design/tab/tab-on-r.gif) top right no-repeat !important;
	color: #333;
}
.tabs .sections {
	padding: 10px;
	border: solid 1px #dddddd;
	border-top: 0px;
	background: #fff;
}
/* tabs: end */

/* data-tables: begin */
.data-table {
	width: 100%;
}
.data-table caption {
	color: #767676;
	font-size: 1.8em;
	padding: 16px 0 10px;
	text-align: left;
}
.data-table th {
	color: #999999;
	font-size: 1.2em;
	font-weight: normal;
	padding: 0 0 8px 0;
	text-align: left;
}
.data-table td {
	padding: 2px 3px;
}
.data-table .odd {
	background: #fafafa;
}
/* data-tables: end */

/* files-table: begin */
#files-table .file-icon {
	text-align: center;
	width: 18px;
}
#files-table .odd {
	background: #fafafa;
}
#files-table .even {
}
/* files-table: end */

/* search: begin */
#search .textbox-input input {
	width: 70%;
}
/* search: end */
